* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

#header {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13;
    flex-direction: row;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tickethack {
    margin-left: 2vw;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #459e85;
    font-weight: 700;
    font-size: 40px;
}

#panier {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-right: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}

h4 {
    font-weight: 500;
}

.cart {
    margin-right: 2vw;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

#contain {
    display: flex;
    grid-row-start: 2;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 13;
    background-image: url("./images/background.jpg");
    background-position: inherit;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.world {
    margin-top: auto;
    margin-bottom: 2vh;
    font-size: 50px;
    text-align: center;
    font-weight: 500;


}

.compare {
    margin-bottom: auto;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

#encards {
    height: 50%;
    width: 55%;
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-top: 2%;
}

#reserch {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    width: 40%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input:focus {
    outline: none;
    border: solid #4e84cc;

}

.departure {
    border: none;
    border-bottom-color: grey;
    background-color: #eff1f1;
    border-radius: 5px;
    margin-top: 7%;
    margin-right: 7%;
    margin-left: 7%;
    padding: 10px;
    height: 5vh;
    font-size: 16px;
    width: 90%;


}

.arrival {
    border: none;
    background-color: #eff1f1;
    border-radius: 5px;
    margin-bottom: 10%;
    margin-right: 7%;
    margin-left: 7%;
    padding: 10px;
    height: 5vh;
    font-size: 16px;
    width: 90%;


}

.deparr {
    width: 88%;
    display: block;
    border: 0;
    border-top: 1px solid #aaadac;
    padding: 0;
    margin: 0;
}

.calendar {
    border: none;
    background-color: #eff1f1;
    border-radius: 5px;
    margin-bottom: auto;
    margin-right: 7%;
    margin-left: 7%;
    padding: 10px;
    height: 5vh;
    font-size: 16px;
    width: 90%;

}

.search {
    border: none;
    background-color: #459e85;
    color: white;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: 7%;
    margin-right: 7%;
    margin-left: 7%;
    height: 5vh;
    font-size: 16px;
    cursor: pointer;
    width: 90%;


}

#result {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    width: 40%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#placeholder-train {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.train {
    width: 35%;
    margin: 5%;
}

hr {
    width: 80%;
    display: block;
    border: 0;
    border-top: 3px solid #459e85;
    margin: 1em 0;
    padding: 0;
}

.future {
    margin: 5%;
    font-size: 20px;
    font-weight: 600;
}

#all-trips {
    overflow-y: scroll;
    display: none;
    flex-direction: column;
    width: 98%;
    height: 95%;

}

.cart-row {
    display: flex;
    margin-top: 2vh;
    margin-left: 2vh;
    justify-content: center;
    border-radius: 5px;
    height: 5vh;
    background-color: #f5eeee;
}

.cart-row>p {
    margin: auto;
}

.book-train {
    margin: auto;
    width: 15%;
    height: 65%;
    border-radius: 5px;
    background-color: #459e85;
    color: white;
    border: none;
}

#no-trip {
    color: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.not-found {
    width: 35%;
    margin: 5%;
}

.no-future {
    margin: 5%;
    font-size: 20px;
    font-weight: 600;
}